# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
entorno/
.venv/
.env
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
.eggs/
parts/
sdist/
*.egg-info/
.installed.cfg
*.egg
wheels/
share/python-wheels/

# Flask stuff
instance/
.webassets-cache

# Database and migrations
*.sqlite3
*.sqlite3-journal
migrations/
cellphoneSpStore.sql  # Asegúrate de que el archivo SQL esté respaldado y no sea necesario versionarlo

# Logs and coverage reports
*.log
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.coverage
.coverage.*

# IDE and editor settings
.idea/
.vscode/
.spyderproject
.spyproject

# PyInstaller
*.spec
*.manifest

# Jupyter Notebook
.ipynb_checkpoints/

# Pipenv and Poetry
Pipfile.lock
poetry.lock

# SageMath parsed files
*.sage.py

# Type checking and static analysis
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
